<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sensorfields.screen.android">

    <application
        android:allowBackup="false"
        android:name=".Application"
        android:theme="@style/Theme.Application"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_label">

        <activity android:name=".Activity"
            android:exported="true" />

        <activity-alias
            android:name="LauncherActivity"
            android:targetActivity=".Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

    </application>

</manifest>
